@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

#ofBar {
  background: #fff;
  z-index: 999999999;
  font-size: 16px;
  color: #333;
  padding: 16px 40px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 40px;
  width: 80%;
  border-radius: 8px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
}

#ofBar-logo img {
  height: 50px;
}

#ofBar-content {
  display: inline;
  padding: 0 15px;
}

#ofBar-right {
  display: flex;
  align-items: center;
}

#ofBar b {
  font-size: 15px !important;
}
#count-down {
  display: initial;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
}
#close-bar {
  font-size: 17px;
  opacity: 0.5;
  cursor: pointer;
  color: #808080;
  font-weight: bold;
}
#close-bar:hover{
  opacity: 1;
}
#btn-bar {
  background-image: linear-gradient(310deg, #141727 0%, #3A416F 100%);
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  opacity: .95;
  margin-right: 20px;
  box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
}
 #btn-bar, #btn-bar:hover, #btn-bar:focus, #btn-bar:active {
   text-decoration: none !important;
   color: #fff !important;
}
#btn-bar:hover{
  opacity: 1;
}

#btn-bar span, #ofBar-content span {
  color: red;
  font-weight: 700;
}

#oldPriceBar {
  text-decoration: line-through;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  top: 2px;
  position: relative;
}
#newPrice{
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  top: 2px;
  position: relative;
  margin-left: 7px;
}

#fromText {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin-right: 3px;
  top: 0px;
  position: relative;
}

#pls-contact-me-on-email {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 999;
  cursor: pointer;
  padding-top: 100px;
  padding-left: 50px;
}

@media(max-width: 991px){

}
@media (max-width: 768px) {
  #count-down {
    display: block;
    margin-top: 15px;
  }

  #ofBar {
    flex-direction: column;
    align-items: normal;
  }

  #ofBar-content {
    margin: 15px 0;
    text-align: center;
    font-size: 18px;
  }

  #ofBar-right {
    justify-content: flex-end;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

.swiper-thumbs{
  width: 300px!important;
}


@font-face {
  font-family: "nunitoo";
  src: url("/fonts/Nunito/Nunito-Bold.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

.swiper, .swiper-container{
  margin: 0 !important;
}

.swiper-thumb{
  margin: 0 10px  !important;
  padding-top: 10px  !important;
}

.st0{fill:#0acf83}
.st1{fill:#a259ff}
.st2{fill:#f24e1e}
.st3{fill:#ff7262}
.st4{fill:#1abcfe}

h1{
  @apply font-nunito text-4xl font-bold text-gray-900 mb-6;
}
h2{
  @apply font-nunito text-3xl font-bold text-gray-900 mb-4;
}
h3{
  @apply font-nunito text-2xl font-bold text-gray-900;
}
h4{
  @apply font-nunito text-xl font-bold text-gray-900;
}
h5{
  @apply font-nunito text-lg font-bold text-gray-900;
}

.title {
  @apply text-[22px] font-nunito lg:text-2xl font-bold text-gray-900;
}
section{
  @apply px-4 py-8 lg:py-24 lg:px-6;
}

footer{
  @apply px-4 py-6 lg:pt-8 lg:px-6;
}
.btn{
  @apply inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center rounded-lg sm:w-auto ;
}
.btn-primary{
  @apply text-white bg-primary-default border border-gray-200  hover:bg-transparent hover:border-primary-default hover:text-primary-default focus:ring-4 focus:ring-gray-100;
}
.btn-secondary{
  @apply border-primary-default text-primary-default focus:ring-4 focus:ring-gray-100 hover:text-white hover:bg-primary-default border hover:border-gray-200 hover:bg-transparent ;
}
.section-wrapper{
  @apply items-center max-w-screen-xl mx-auto ;
}
.partner img{
  @apply mx-auto;
}
.icon{
  @apply flex px-12 py-6 rounded-full bg-primary-default justify-center mx-auto mb-6 w-[42px];
}

.swiper-button-next::after, .swiper-button-prev::after{
  @apply text-primary-default rounded-full w-10 h-10 flex items-center justify-center;
}

.swiper-button-next, .swiper-button-prev {
  /* position: absolute; */
  top: var(--swiper-navigation-top-offset,50%);
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  /* margin-top: calc(0px - (var(--swiper-navigation-size)/ 2)); */
  z-index: 10;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.swiper, .swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  overflow: visible;
  list-style: none;
  padding: 0;
  z-index: 9999;
  display: block;
}


.swiper-pagination {
  position: revert !important;
  margin-top: 30px !important;
}

.swiper-pagination-bullet-active{
  @apply bg-primary-default !important;
}

.feature_image {    
  height: 480px;
  width: 480px;
}

.feature_image img{
  height: 100%;
  width: 100%;
}
